# Docker compose that loads up postgres
volumes:
  data:
version: '3.1'
services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ../..:/workspaces:cached
      - ~/.foundry:/home/node/.foundry:cached
    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    network_mode: service:db
    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity
    mem_limit: 16g
    mem_reservation: 16g
    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)
    environment:
      - HOST=0.0.0.0
  db:
    image: postgres:16.3
    restart: always
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: user
      POSTGRES_DB: app
    ports:
      - '5432:5432'
    volumes:
      - data:/var/lib/postgresql/data
